/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f5f5;
}

/* Header */
.header {
    background: linear-gradient(90deg, #ff4b2b, #ff416c);
    padding: 25px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.header input {
    padding: 10px 15px;
    width: 60%;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* Food Container */
.food-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* Food Card */
.food-card {
    background: white;
    width: 260px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.food-card:hover {
    transform: translateY(-10px);
}

.food-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.food-card h3 {
    padding: 10px;
    font-size: 18px;
}

.food-card p {
    padding: 0 10px 10px;
    color: gray;
    font-size: 14px;
}

/* Button */
.btn {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #ff416c;
    color: white;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #ff4b2b;
}
